/* //////////////perfil */
.profile {
  position: fixed;
  width: 280px;
  height: 100vh;
  border-top: 0;
  border-left: 0;
}

.imgProfile {
  width: 253px;
  height: 250px;
  margin: 0px;
  border-radius: 50%;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.glassImg {
  position: fixed;
  top: 0;
  width: 253px;
  height: 250px;
  border-radius: 50%;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  box-shadow: 5px -5px 40px var(--azul-base), -5px -5px 40px var(--azul-base);
  filter: drop-shadow(1px 1px 30px #03e9f4);
}

.nomeP {
  filter: var(--drop-shadow-9px) brightness(20);
  border-bottom: 1px solid #00909785;
  padding-left: 10px;
  -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(0, 146, 243, 0.178));
}

/* contato/////////// */
.imgC {
  width: 80px;
  height: 80px;
  filter: var(--drop-shadow-9px) brightness(20);
}

.contatos {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  border-radius: 0;
}

.contatos .list-group-item {
  --bs-list-group-bg: none;
  --bs-list-group-border-color: #00d9ff3b;
  border-left: 0;
}

.Clink {
  margin-left: 9px;
  color: #00ffff;
  font-size: larger;
}

#Perf_box_email {
  margin: 0 10px;
}

.emailCopy {
  display: flex;
}

.Perf_email {
  color: var(--azul-base);
  margin-bottom: 0;
  margin: 0 auto;

}

.Copying {
  cursor: copy;
  color: rgb(0, 255, 255);
  margin-left: 0px;
}

.Clink:hover,
.Copying:hover {
  color: aqua;
}

.profile::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #0000006e;
}

.profile::-webkit-scrollbar {
  width: 5px;
  background-color: #00000063;
}

.profile::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 238, 255, 0.658);
    background-color: #03d9ff8c;
}

/* icon tecs///////////// */
#iconsTec_mein {
  width: 280px;

}

.ulIconTec {
  /* position: fixed; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.liIconTec {
  height: 100px;
  width: fit-content;
}

.imgTec {
  width: 50px;
  height: 50px;
  filter: var(--drop-shadow-9px) brightness(20);
  -webkit-box-reflect: below 0px linear-gradient(transparent, rgba(0, 0, 0, 0.144));
}

.Perfil_imgTec_brilho {
  filter: drop-shadow(2px 2px 9px #00000000) brightness(1);
  -webkit-box-reflect: below 0px linear-gradient(transparent, rgba(0, 0, 0, 0.699));

}

.fade.show.popover.bs-popover-end {
  filter: var(--drop-shadow-9px);
}

.popover-arrow {
  margin-top: -25px;
  color: #000000;
  filter: brightness(0);
}

.popover-header {
  background-color: #000000;
  border-bottom: 1px solid #03e8f463;
  color: var(--azul-base);
}

.popover-body {
  background-color: #000000;
  border-radius: 0 0 7px 7px;
  border-top: 0;
  color: var(--azul-base);
}

.popover.tooltip-arrow {
  margin-top: -25px;
}

.fade.show.tooltip.bs-tooltip-end {
  position: fixed;
}

#glass_iconTec {
  margin-top: -50px;
  position: fixed;
  width: 50px;
  height: 50px;
}

.gless_contat {
  margin-top: -80px;
  position: fixed;
  width: 80px;
  height: 80px;

}

@media (max-height: 922px) {
  .profile {
    overflow-y: scroll;
    overflow-x: hidden;
  }
}

@media (max-width: 700px) {
  .profile {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
  }

  .glassImg,
  .imgProfile {
    border-radius: 100%;
  }

  .contatos .list-group-item {
    border-left: 1px solid #00d9ff3b;
  }

  .profile::-webkit-scrollbar-track {
    background-color: #02000075;
  }

  .profile::-webkit-scrollbar {
    width: 8px;
    background-color: #f5f5f500;
  }
}