/* //////////////perfil */
.imgProfile {
  width: 253px;
  height: 250px;
  margin: 0px ;
  border-radius: 50%;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  /* box-shadow: 5px -5px 40px var(--azul-base); */
  

}
.glassImg {
  position: fixed;
  top: 0;
  width: 253px;
  height: 250px;
  border-radius: 50%;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  box-shadow: 5px -5px 40px var(--azul-base), -5px -5px 40px var(--azul-base);
  filter: drop-shadow(1px 1px 30px #03e9f4);
}
.nomeP{
  filter: var(--drop-shadow-9px) brightness(20);
  border-bottom: 1px solid #00909785;
  padding-left: 10px;
  -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(0, 146, 243, 0.178));
}
/* contato/////////// */
.imgC {
  width: 80px;
  height: 80px;
  filter: var(--drop-shadow-9px) brightness(20);
}
.contatos {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  border-radius: 0;
}
.contatos .list-group-item {
  --bs-list-group-bg: none;
  --bs-list-group-border-color: rgb(0 217 255 / 23%);
  border-left: 0;
}
.Clink {
  margin-left:  9px ;
  color: aqua;
  font-size: larger;
}
#Perf_box_email {
  margin: 0 10px;
}
.emailCopy {
  display: flex;
  
}
.Perf_email {
  color: var(--azul-base);
  margin-bottom: 0;
  margin: 0 auto;

}
.Copying {
  cursor: copy;
  color: rgb(0, 255, 255);
  margin-left: 5px;
}
.Clink:hover, .Copying:hover {
  color: aqua;
}
.profile {
  width: 280px;
  height: 100vh;
  border-top: 0;
  border-left: 0;
  /* position: fixed; */
  /* overflow-y: scroll; */
  /* overflow-x: hidden; */
  /* transition: 2.3s; */
  /* overflow-y: auto; */
  /* overflow-x: hidden; */

}
@media (max-height: 929px) {
  .profile {
    width: 285px;
    overflow-y: scroll;
    overflow-x: hidden;
    /* transition: 2.3s; */
  }
}
.profile::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: #f5f5f500;
}

.profile::-webkit-scrollbar
{
  position: fixed;
	width: 5px;
	background-color: #f5f5f500;
}

.profile::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 238, 255, 0.658);
	background-color: #00000083;
}
/* icon tecs///////////// */
#iconsTec_mein {
  width: 280px;

}
.ulIconTec{
  /* position: fixed; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.liIconTec{
  height: 100px;
  width: fit-content;
}
.imgTec{
  width: 50px;
  height: 50px;
  filter: var(--drop-shadow-9px) brightness(20);
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0006);
}
.Perfil_imgTec_brilho {
  filter: drop-shadow(2px 2px 9px #000000) brightness(1);
}
.fade.show.popover.bs-popover-end {
  filter: var(--drop-shadow-9px);
}
.popover-arrow {
  margin-top: -25px;
  color: #000000;
  filter: brightness(0);
}
.popover-header {
  background-color: #000000;
  border-bottom: 1px solid #03e8f463;
  color: var(--azul-base);
}
.popover-body {
  background-color: #000000;
  border-radius: 0 0  7px 7px;
  border-top: 0;
  color: var(--azul-base);
}
.popover.tooltip-arrow {
  margin-top: -25px;
}
.fade.show.tooltip.bs-tooltip-end {
  position: fixed;
}
