#Body_All {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  /* background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect fill='none' stroke-width='1' id='a' x='-400' y='-300' width='800' height='600'/%3E%3C/defs%3E%3Cg style='transform-origin:center'%3E%3Cg transform='' style='transform-origin:center'%3E%3Cg transform='rotate(-153.6 0 0)' style='transform-origin:center'%3E%3Cg transform='translate(1000 750)'%3E%3Cuse stroke='%23000404' href='%23a' transform='rotate(9.6 0 0) scale(1.096)'/%3E%3Cuse stroke='%23001314' href='%23a' transform='rotate(19.2 0 0) scale(1.192)'/%3E%3Cuse stroke='%23002324' href='%23a' transform='rotate(28.8 0 0) scale(1.288)'/%3E%3Cuse stroke='%23013234' href='%23a' transform='rotate(38.4 0 0) scale(1.384)'/%3E%3Cuse stroke='%23014144' href='%23a' transform='rotate(48 0 0) scale(1.48)'/%3E%3Cuse stroke='%23015054' href='%23a' transform='rotate(57.6 0 0) scale(1.576)'/%3E%3Cuse stroke='%23016064' href='%23a' transform='rotate(67.2 0 0) scale(1.672)'/%3E%3Cuse stroke='%23016f74' href='%23a' transform='rotate(76.8 0 0) scale(1.768)'/%3E%3Cuse stroke='%23027e84' href='%23a' transform='rotate(86.4 0 0) scale(1.864)'/%3E%3Cuse stroke='%23028d94' href='%23a' transform='rotate(96 0 0) scale(1.96)'/%3E%3Cuse stroke='%23029da4' href='%23a' transform='rotate(105.6 0 0) scale(2.056)'/%3E%3Cuse stroke='%2302acb4' href='%23a' transform='rotate(115.2 0 0) scale(2.152)'/%3E%3Cuse stroke='%2302bbc4' href='%23a' transform='rotate(124.8 0 0) scale(2.248)'/%3E%3Cuse stroke='%2303cad4' href='%23a' transform='rotate(134.4 0 0) scale(2.344)'/%3E%3Cuse stroke='%2303dae4' href='%23a' transform='rotate(144 0 0) scale(2.44)'/%3E%3Cuse stroke='%2303E9F4' href='%23a' transform='rotate(153.6 0 0) scale(2.536)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover; */
  /* position: fixed; */
  overflow: hidden;
  color: rgb(255, 255, 255);
  
}
.transition {
  transition: 1.5s;
}
#ocultarProfile {
  margin-left: -290px;
  opacity: 0;
}
#ocultarSobreMim {
  margin-left: 290px;
  margin-right: 290px;
  opacity: 0;
  font-size: 1px;

}
#ocultarSobreMim .sobreMim .headerFont,
#ocultarSobreMim .sobreMim .fontBody {
  padding-top: -80%;
  padding-bottom: -80%;
  font-size: 1px;
}
#ocultarProjectList{
  margin-right: -290px;
  opacity: 0;
}
