.listProject {
  position: relative;
  overflow-y: scroll;
  /* display: flex; */
  /* flex-direction: column; */
  /* right: 0; */
  margin-left: -300px;
  padding-left: 300px;
}

.listProject::-webkit-scrollbar {
  background-color: rgba(0, 0, 0, 0.678);
  width: 10px;
}

.listProject::-webkit-scrollbar-thumb {
  background-color: #00f2ff9a;
  border-radius: 5px;
}

.ulProj {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

.liProj {
  width: 200px;
  color: var(--azul-base);
  animation: animateProjLI 0.5s linear both;
  transition: 0.5s;
}

.liProj.load,
.ProjList_li_BT.load {
  animation: animateProjLI 0s;
}

.liProj .card {
  border-radius: 0;
}

.hover-proj:hover {
  background-color: #000000e0;
  animation: animateProjHover 0.5s linear both;
}

@keyframes animateProjHover {
  0% {}

  100% {
    box-shadow: var(--box-shadow-max);
  }
}

@keyframes animateProjLI {
  0% {
    box-shadow: var(--box-shadow-max);
  }

  100% {}
}

.projListTitle {
  color: #7af7fd;
  text-transform: uppercase;
  width: max-content;
  margin: 5px auto;
}

.h2Title {
  border: 1px solid rgb(0 217 255 / 23%);
  margin: 0;
  padding-left: 10%;
  width: 200px;
}

.imgLP {
  filter: var(--drop-shadow-9px);
  margin-left: 17%;
  margin-top: 5px;
  width: 130px;
  height: 130px;
}

.ProjList_li_txt {
  box-shadow: -1px -1px 3px var(--azul-base);
  border-top: solid 1px #03e8f469;
  border-right: solid 1px #03e8f41f;
  border-left: solid 1px #03e8f41f;
  border-bottom: solid 1px #03e8f41f;
  border-radius: 5px;
  padding-left: 3px;
}


.ProjList_li_BT {
  color: #99faff9a;
  background-color: #03636842;
  border: 0;
  border-radius: 5px;
  animation: animateProjLI 0.5s linear both;

}

.hover-proj:hover .ProjList_li_BT {
  background-color: #00000000;
  color: var(--azul-base);
  animation: animateProjHover 0.5s linear both;
}

.liProj:last-child {
  border: 0;
}

.ListP_IconFoco {
  animation: animateProjHover 0.5s linear both;

}

/* ///////project detail//////// */
.button {
  background-color: #00000000;
  position: relative;
  display: inline-block;
  padding: 25px 25px;
  margin: 40px 0;
  color: var(--azul-base);
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;
  margin-right: 50px;
}

.button:hover {
  background: var(--azul-base);
  color: #000000;
  box-shadow: var(--box-shadow-max);
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

.button span {
  position: absolute;
  display: block;
}

.button span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, var(--azul-base));
  animation: animatel 1s linear infinite;
}

@keyframes animatel {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

.button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, var(--azul-base));
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes animate2 {
  0% {
    top: -100%;
  }

  50%,
  100% {
    top: 100%;
  }
}

.button span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, var(--azul-base));
  animation: animate3 1s linear infinite;
  animation-delay: 0.50s;
}

@keyframes animate3 {
  0% {
    right: -100%;
  }

  50%,
  100% {
    right: 100%;
  }
}

.button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, var(--azul-base));
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes animate4 {
  0% {
    bottom: -100%;
  }

  50%,
  100% {
    bottom: 100%;
  }
}

.modal-content {
  color: #00f2ff;
  background-color: #000000;
  box-shadow: 0 0 5px var(--azul-base), 0 0 2px var(--azul-base), 0 0 5px var(--azul-base),
    0 0 2px var(--azul-base);
}

#modalHeader {
  padding-bottom: 0;
}

#modalTitle {
  margin: 0;
  padding: 0;
  height: 33.33px;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

.btn-close {
  filter: drop-shadow(0 0 1px var(--azul-base)) drop-shadow(0 0 1px var(--azul-base)) brightness(10);
}

.Modal-hr {
  margin: 0;
  padding: -10px;
  top: 20%;

}

.modal {
  --bs-modal-header-border-color: #59920e:
}

.modal-footer {
  border-top: #000000;
}

.modalButton {
  margin: 0;
  margin-bottom: 25px;
}

.ModalSeparar {
  margin: 10px;
}

.divButton {
  height: fit-content;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.modalImg {
  border-radius: 50px;
  margin: auto;
  display: flex;
  justify-content: center;
  filter: var(--drop-shadow-9px) brightness(1);
  margin-bottom: 20px;
}

.margin-description {
  margin-top: 5px;
  margin-left: 33px;
}

/* /////tabs///////// */
#ProjDet_tabs .nav-link.active {
  color: var(--azul-base);
  background-color: #000000;
  border: 2px solid var(--azul-base);
  filter: var(--drop-shadow-9px);

}

#ProjDet_tabs .nav-link {
  color: var(--azul-base);
  background-color: #000000;
  border: 2px solid #00666b;
}