
.modal-content {
  color: #03e9f4;
  background-color: #000000;
  box-shadow: 0 0 5px #03e9f4, 0 0 2px #03e9f4, 0 0 5px #03e9f4,
    0 0 2px #03e9f4;
}
.modal {
  --bs-modal-header-border-color: #59920e:
  /* --bs-modal-header-border-color: var(#59920e); */
}
.modal-footer {
  border-top:#000000;
}
.btn-close{
  /* box-shadow: 0 0 5px #03e9f4, 0 0 2px #03e9f4, 0 0 5px #03e9f4,
  0 0 2px #03e9f4; */
  filter: drop-shadow(1px 1px 9px #03e9f4) brightness(100);

}

.button {
  margin: 0;
  margin-bottom: 74px;
}
.ModalSeparar{
  margin: 10px;
}

.divButton {
  height: fit-content;;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.divModalImgTec {
  display: flex;
  justify-content: center;
}
.modalImgTec {
  margin: 10px 10px 50px ;
}
.modalImg {
  margin: auto ;
  display: flex;
  justify-content: center;
  filter: drop-shadow(1px 1px 9px #03e9f4) brightness(1);
  margin-bottom: 20px;

}
.modalTitle {
  margin: 0;
  height: 33.33px;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);

}
.btn-close {
  margin: 0;
}
.efeito-vidro {
/* From https://css.glass */
background: rgba(255, 255, 255, 0);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5.2px);
-webkit-backdrop-filter: blur(5.2px);
border: 1px solid rgba(255, 255, 255, 0.05);
}