#sobre_mim_main {
  margin-top: 15vh;
  width: 50vw;

  #box {
    border: solid 3px var(--azul-mar);
    border-radius: 10px;
    color: var(--azul-base);


    .box_header {
      display: flex;
      justify-content: space-between;
      height: 50px;
      outline: 3px solid var(--azul-mar);
      border-radius: 8px;
      padding: 0 8px;
      margin: 2px 0px;

      .header {
        font-size: x-large;
        font-weight: 900;
        padding: 10px 7px;
      }
      .header_button{
        width: 30px;
        height: 30px;
        margin: 8px;
      }
    }
    .body {
      padding: 10px 20px;
      margin: 0;
      text{
        font-weight: 500;
      }

      animation: animateShowBody 0.2s linear both;
    }
  }
}

@keyframes animateShowBody {
  0% {
    font-size: 5%;
  }
}

@media (max-width: 370px) {
  #sobre_mim_main {
    zoom: 80%;
  }
}