#W_login {
  position: fixed;
  background-image: url('../services/wallet-svgrepo-com.svg');
  height: 400px;
  width: 400px;
  margin: 0 210px;
}
#W_form_login {
  position: fixed;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 180px 0 0 140px;
  width: 50%;
}
.W_F_input {
  background-color: rgba(240, 248, 255, 0);
  border: 5px;
  border-style: dotted ;
  border-color: #7e5c62;
  color: rgba(0, 0, 0, 0.432);
  width: 130px;
}
.W_F_input::placeholder {
  color: #64484e;
}
.W_F_input:focus {
  outline: 0;
}
#W_Bt_login {
  color: #5c546a;
  width: min-content;
  border: 0;
  background-color: #7e5c6244;
}