#body {
  background-color: rgb(118, 216, 255);
}
#pixel-board {
  width: fit-content;
  background-color: black;
  padding: 2px;
  padding-bottom: 4px;
}

.color {
  border: 1px solid black;
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-left: 5px;
}

.colunaPixel {
  width: auto;
  height: 12px;
}

.pixel {
  width: fit-content;
  display: inline-block;
  width: 9px;
  height: 10px;
  padding: 1px;
  background-color: white;
}

.center {
  margin: 0 auto;
  width: 50%;
}

.centerFlex {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  width: 50%;
}
.selected {
  border: 1px solid transparent ;
}
