.p-body {
  padding: 0;
  color: aliceblue;
  border-radius: 5px;
  /* width: m; */
  /* min-width: 310px; */
  /*  */
  overflow: auto;
  /* width: 100%; */
  max-height: 85vh;


}
.preP .modal-dialog:nth-child(1) .modal-content {
  background: none;
  min-width: 310px;
  /* width: 80vw; */
  /* --bs-modal-width: auto; */

}
.preP .modal-dialog {
  width: min-content;
  --bs-modal-width: auto;
  margin: auto;
  /* position: absolute; */
  /* left: 10%; */
}
.preP-efeito-vidro {
  box-shadow: 0 4px 30px rgba(0, 198, 212, 0.671);
  backdrop-filter: blur(5.2px);
  -webkit-backdrop-filter: blur(5.2px);
  border: 1px solid rgba(0, 247, 255, 0.856);
}
/* .maxH { */
  /* max-height: 100%; */
/* } */
/* .projectPreView #body:nth-child(1) {
  margin: 0;
  width: auto;
  max-height: 85vh;
  overflow: auto;
  
} */
