.p-body {
  padding: 0;
  color: aliceblue;
  border-radius: 5px;
}
.preP div:nth-child(1) .modal-content {
  background: none;
}
.preP div:nth-child(1) {
  width: 80vw;
}
.preP .modal-dialog {
  position: absolute;
  left: 10%;
}
.preP-efeito-vidro {
  box-shadow: 0 4px 30px rgba(0, 198, 212, 0.671);
  backdrop-filter: blur(5.2px);
  -webkit-backdrop-filter: blur(5.2px);
  border: 1px solid rgba(0, 247, 255, 0.856);
}
.maxH {
  max-height: 100%;
}
.project div:nth-child(1) {
  margin: 0;
  width: auto;
  max-height: 85vh;
  overflow: auto;
}
