:root {
  --azul-base: #03e9f4;
  --box-shadow-max: 0 0 5px var(--azul-base), 0 0 25px var(--azul-base), 0 0 50px var(--azul-base), 0 0 200px var(--azul-base);
  --drop-shadow-9px: drop-shadow(1px 1px 9px #03e9f4)
}

.efeito-vidro {
  background: #00000056;
  backdrop-filter: blur(5.2px);
  -webkit-backdrop-filter: blur(5.2px);
  border-radius: 5px;
  border: 1px solid rgba(0, 225, 255, 0.144);
}

.sombra {
  box-shadow: 0 4px 40px var(--azul-base);
}
.text-b-b {
  width: 280px;
  padding: 0 77px;
  margin: 3px auto;
  align-items: center;
  color: var(--azul-base);
  border-bottom: 1px solid var(--azul-base);
  text-transform: uppercase;
}

#Body_All {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  color: rgb(255, 255, 255);
}

.transition {
  transition: 1.5s;
}

.ocultarSobreMim {
  opacity: 0;
  font-size: 1px;
}

.ocultarSobreMim .sobreMim {
  margin-left: 290px;
  margin-right: 290px;
}

.ocultarSobreMim .sobreMim .headerFont,
.ocultarSobreMim .sobreMim .fontBody {
  padding-top: -80%;
  padding-bottom: -80%;
  font-size: 1px;
}

#appProfile {
  position: relative;
  width: 280px;
  border: 0;
}