/* * {
 outline: 1px solid red;
} */
body {
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect fill='none' stroke-width='1' id='a' x='-400' y='-300' width='800' height='600'/%3E%3C/defs%3E%3Cg style='transform-origin:center'%3E%3Cg transform='' style='transform-origin:center'%3E%3Cg transform='rotate(-153.6 0 0)' style='transform-origin:center'%3E%3Cg transform='translate(1000 750)'%3E%3Cuse stroke='%23000404' href='%23a' transform='rotate(9.6 0 0) scale(1.096)'/%3E%3Cuse stroke='%23001314' href='%23a' transform='rotate(19.2 0 0) scale(1.192)'/%3E%3Cuse stroke='%23002324' href='%23a' transform='rotate(28.8 0 0) scale(1.288)'/%3E%3Cuse stroke='%23013234' href='%23a' transform='rotate(38.4 0 0) scale(1.384)'/%3E%3Cuse stroke='%23014144' href='%23a' transform='rotate(48 0 0) scale(1.48)'/%3E%3Cuse stroke='%23015054' href='%23a' transform='rotate(57.6 0 0) scale(1.576)'/%3E%3Cuse stroke='%23016064' href='%23a' transform='rotate(67.2 0 0) scale(1.672)'/%3E%3Cuse stroke='%23016f74' href='%23a' transform='rotate(76.8 0 0) scale(1.768)'/%3E%3Cuse stroke='%23027e84' href='%23a' transform='rotate(86.4 0 0) scale(1.864)'/%3E%3Cuse stroke='%23028d94' href='%23a' transform='rotate(96 0 0) scale(1.96)'/%3E%3Cuse stroke='%23029da4' href='%23a' transform='rotate(105.6 0 0) scale(2.056)'/%3E%3Cuse stroke='%2302acb4' href='%23a' transform='rotate(115.2 0 0) scale(2.152)'/%3E%3Cuse stroke='%2302bbc4' href='%23a' transform='rotate(124.8 0 0) scale(2.248)'/%3E%3Cuse stroke='%2303cad4' href='%23a' transform='rotate(134.4 0 0) scale(2.344)'/%3E%3Cuse stroke='%2303dae4' href='%23a' transform='rotate(144 0 0) scale(2.44)'/%3E%3Cuse stroke='%2303E9F4' href='%23a' transform='rotate(153.6 0 0) scale(2.536)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  color: aqua;
}
/* clip-path: polygon(39.9% 2%, 55.1% 10.5%, 51.9% 49%, 64% 74.3%, 55.6% 85.3%, 11.6% 97.5%, 5.5% 68%, 7.4% 25.8%, 17.5% 3%); */
.profile {
  /* background-color: #050801; */

  /* position:absolute ; */
  /* float: left; */
  width: 300px;
  /* height: 800px; */
}
.centerBody {
  /* position: relative ; */
  /* top: 0px; */
  left: 300px;
  right: 150px;
  /* height: auto; */
  /* width: 1000px; */

  /* clear: left; */

}
.profile-centerBody-flex {
  display: flex;
  justify-content: space-between;
  /* width: ; */
  /* height: 80%; */
  /* bottom: 1px; */
}
.listProject {
  display: flex;
  flex-direction:column;
  width: 160px;
  height: 100vh;
  /* height:; */
  /* clear:right; */
  border: 1px solid rgb(0,0,0) ;
  /* left: 10px; */
  /* right: 10px; */
  overflow: auto;
}


.button {
  background-color: #050801;
  position: relative;
  display: inline-block;
  padding: 25px 30px;
  margin: 40px 0;
  color: #03e9f4;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;
  margin-right: 50px;
}
.button:hover {
 background: #03e9f4;
 color: #050801;
 box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 200px #03e9f4;
 -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}
.button span {
  position: absolute;
  display: block;
}
.button span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg,transparent,#03e9f4);
  animation: animatel 1s linear infinite;
}
@keyframes animatel {
  0%{
    left: -100%;
  }
  50%,100%{
    left: 100%;
  }
}
.button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg,transparent,#03e9f4);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}
@keyframes animate2 {
  0%{
    top: -100%;
  }
  50%,100%{
    top: 100%;
  }
}
.button span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg,transparent,#03e9f4);
  animation: animate3 1s linear infinite;
  animation-delay: 0.50s;
}
@keyframes animate3 {
  0%{
    right: -100%;
  }
  50%,100%{
    right: 100%;
  }
}
.button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg,transparent,#03e9f4);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}
@keyframes animate4 {
  0%{
    bottom: -100%;
  }
  50%,100%{
    bottom: 100%;
  }
}
/* icon tec */
.ulIconTec{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0px;
  padding: 0px;
  width: fit-content;
  height: fit-content;
}
.liIconTec{
  height: 100px;
  width: fit-content;
  
}
.imgTec{
  width: 50px;
  height: 50px;
  filter: drop-shadow(1px 1px 9px #03e9f4) brightness(20);
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0006);
  }
