/* * {
  outline: 1px solid red;
 } */

.flax_center{
  display: flex;
  justify-content: center;
}

.card {
  margin: 20px 0;
  border-radius: 50px;
  box-shadow: var(--box-shadow-min);
}

.efeito_vidro {
  background: #00000056;
  backdrop-filter: blur(5.2px);
  -webkit-backdrop-filter: blur(5.2px);
}

.sombra {
  box-shadow: 0 4px 40px var(--azul-base);
}

#Body_All {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.ocultarSobreMim {
  opacity: 0;
  font-size: 1px;
}

/* .ocultarSobreMim .sobreMim {
  margin-left: 290px;
  margin-right: 290px;
}

.ocultarSobreMim .sobreMim .headerFont,
.ocultarSobreMim .sobreMim .fontBody {
  padding-top: -80%;
  padding-bottom: -80%;
  font-size: 1px;
} */

#appProfile {
  position: relative;
  width: 260px;
  border: 0;
  padding-left: 20px;
}